.idea
/logs/*
/backup/*
/tmp/*
*.php_*
Thumbs.db
/wwwroot/logs/*.log
/wwwroot/cache/themes/*/pathCache.php
/wwwroot/sFTP*
/wwwroot/*.log
/wwwroot/config.php
/wwwroot/config.kg.local.php
/wwwroot/cache/backups/*
/wwwroot/cache/blowfish/*
/wwwroot/cache/csv/*
/wwwroot/cache/dashlets/*
/wwwroot/cache/diagnostic/*
/wwwroot/cache/dynamic_fields/*
/wwwroot/cache/Expressions/*
/wwwroot/cache/feeds/*
/wwwroot/cache/generated_forms/*
/wwwroot/cache/images/*
/wwwroot/cache/import/*
/wwwroot/cache/include/*
/wwwroot/cache/index.html
/wwwroot/cache/jsLanguage/*
/wwwroot/cache/layout/*
/wwwroot/cache/loginimage.png
/wwwroot/cache/MergedDocuments/*
/wwwroot/cache/modules/*
/wwwroot/cache/pdf/*
/wwwroot/cache/Relationships/*
/wwwroot/cache/smarty/*
/wwwroot/cache/sprites/*
/wwwroot/cache/Sugarpdf/*
/wwwroot/cache/themes/*
/wwwroot/cache/upgrades/*
/wwwroot/cache/upload/*
/wwwroot/cache/xml/*
/wwwroot/cache/*
/wwwroot/cache/smarty/templates_c/*
/wwwroot/custom/application/Ext/*/*.ext.php
/wwwroot/custom/history/*
/wwwroot/custom/modulebuilder/*
/wwwroot/custom/modules/*/Ext/*/*.ext.php
/wwwroot/custom/working/*
/wwwroot/sas/logs/*
/wwwroot/custom/modules/*/Ext/Language/*.lang.ext.php
/wwwroot/custom/modules/*/Ext/Layoutdefs/layoutdefs.ext.php
/wwwroot/custom/modules/*/Ext/Vardefs/vardefs.ext.php
/wwwroot/custom/modules/*/Ext/Administration/administration.ext.php
/wwwroot/custom/application/Ext/DropdownFilters/roles/*/dropdownfilters.ext.php
/wwwroot/custom/application/Ext/Include/modules.ext.php
/wwwroot/custom/application/Ext/Language/en_us.lang.ext.php
/wwwroot/custom/application/Ext/TableDictionary/tabledictionary.ext.php
/wwwroot/portal2/config.js
/wwwroot/themes/default/images/blank.gif*
/wwwroot/upload/*
/wwwroot/upload:/*
/wwwroot/upload_backup/*
/wwwroot/custom/modules/*/Ext/clients/base/layouts/subpanels/subpanels.ext.php
/wwwroot/custom/modules/*/Ext/clients/mobile/layouts/subpanels/subpanels.ext.php
*.DS_Store
/wwwroot/nbproject
